language: go

go:
  - tip

install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get -t -v ./...

script:
  - go test -v ./...
  #- go test -v -covermode=count -coverprofile=coverage.out ./...
  #- $GOPATH/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
