{{define "title"}}UIS Autograder - Admin pages{{end}}
{{define "body"}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Administrator Options</h1>
				<p>Here you can promote members to either a teacher or administrator.</p>
				<p>An <strong>administrator</strong> will be able to access this page and can promote members like you.</p>
				<p>Here you can promote a member to a <strong>teacher</strong>. A teacher is able to create new courses and can manage those created by this teacher. When a teacher registers to the autograder, the teacher will be equal to the students, and need to be promoted before managing courses. If a teaching assistant will be added, the assistant should not be promoted to a teacher. In the managing page of the course, teaching assistants can be added from the members who have signed up for the course. </p>

				<p>Toggle the buttons to change the status of the members.</p>

				<table class="table table-striped">
					<caption>Members</caption>
					<thead>
						<tr>
							<th>Username</th>
							<th>Name</th>
							<th>Teacher</th>
							<th>Admin</th>
						</tr>
					</thead>
					<tbody>
						{{range .Members}}
						<tr id="{{.Username}}">
							<td>{{.Username}}</td>
							<td>{{.Name}}</td>
							<td><button type="button" onclick="toggleteacher('{{.Username}}')" class="btn btn-default teacher">{{if .IsTeacher}}Yes{{else}}No{{end}}</button></td>
							<td><button type="button" onclick="toggleadmin('{{.Username}}')" class="btn btn-default admin">{{if .IsAdmin}}Yes{{else}}No{{end}}</button></td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function toggleadmin(username) {
		var status = $("tr#" + username + " > td > button.admin").text()
		if (status.localeCompare("Yes") == 0) {
			$("tr#" + username + " > td > button.admin").text("pending")
			$.post("/admin/user", {"user": username, "admin": false}, function(base){
				var data = jQuery.parseJSON(base);
				if (data.Admin){
					$("tr#" + data.User + " > td > button.admin").text("Yes")
				} else {
					$("tr#" + data.User + " > td > button.admin").text("No")
				}
			}).fail(function(){
				alert("Couldnt do request.")
			});
		} else {
			$("tr#" + username + " > td > button.admin").text("pending")
			$.post("/admin/user", {"user": username, "admin": true}, function(base){
				var data = jQuery.parseJSON(base);
				if (data.Admin){
					$("tr#" + data.User + " > td > button.admin").text("Yes")
				} else {
					$("tr#" + data.User + " > td > button.admin").text("No")
				}
			}).fail(function(){
				alert("Couldnt do request.")
			});
		}
	}

	function toggleteacher(username) {
		var status = $("tr#" + username + " > td > button.teacher").text()
		if (status.localeCompare("Yes") == 0) {
			$("tr#" + username + " > td > button.teacher").text("pending")
			$.post("/admin/teacher", {"user": username, "teacher": false}, function(base){
				var data = jQuery.parseJSON(base);
				if (data.Admin){
					$("tr#" + data.User + " > td > button.teacher").text("Yes")
				} else {
					$("tr#" + data.User + " > td > button.teacher").text("No")
				}
			}).fail(function(){
				alert("Couldnt do request.")
			});
		} else {
			$("tr#" + username + " > td > button.teacher").text("pending")
			$.post("/admin/teacher", {"user": username, "teacher": true}, function(base){
				var data = jQuery.parseJSON(base);
				if (data.Admin){
					$("tr#" + data.User + " > td > button.teacher").text("Yes")
				} else {
					$("tr#" + data.User + " > td > button.teacher").text("No")
				}
			}).fail(function(){
				alert("Couldnt do request.")
			});
		}
	}
	</script>
{{end}}