{{define "title"}} UIS Autograder {{end}}
{{define "body"}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Course signup</h1>
          <p>You have signed up for the the course {{.Org}}.</p>
          <p>You have now been invited to an organization on Github. Before you can get access to the course pages on github, you need to accept this invitation. This invitation is sent to your email address. </p>
          <p>You will after accepting this invitation get access to the course material. A teacher still have to confirm your attendence to the assotiated class. When the teacher has approved this, you will get your own repository you can write to. If you have group assignments, you can sign up for this after approval. </p>
        </div>
      </div>
    </div>
{{end}}