{{define "title"}} UIS Autograder {{end}}
{{define "body"}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Sign up for a new course</h1>
          <p>The courses that are available is listed below. Select your course by </p>
          <p>Fields marked with * is required.</p>
          {{range .Orgs}}

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal{{.Name}}">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Terms</h4>
                  </div>
                  <div class="modal-body">
                    <p>By signing up for the course you agree and will follow the terms and guidelines from the University. This includes and not limited to the guidelines for plagiarism and course/lab policy.</p>
                  </div>
                  <div class="modal-footer">
                    <a style="padding-bottom: 10;" class="btn btn-primary" href="/course/register/{{.Name}}">Agree and Sign up</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-lg-10">
                    <h4>{{.Name}} </h4>
                  </div>
                  <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{.Name}}">Sign up</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                {{.Description}}
              </div>
            </div>   
          {{end}}
        </div>
      </div>
    </div>
{{end}}
