{{define "title"}} UIS Autograder {{end}}
{{define "body"}}
<!-- Header -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{.Org.Name}}</h1>
        <p><i>{{.Org.Description}}</i></p>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <!-- Nav and Content -->
    <div class="row">
      <!-- Nav -->
      <div class="col-md-3 hidden-print">
        <h3><!-- Something something --></h3>
        <div class="list-group">
          <a class="list-group-item disabled">Course</a>
          <a class="list-group-item" href="/scoreboard/{{.Org.Name}}">Scoreboard <span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
          <a class="list-group-item disabled">Individual labs</a>
          <a class="list-group-item" href="https://github.com/{{.Org.Name}}/{{.Member.Username}}-labs" target="_blank">Github Repository <span class="pull-right glyphicon glyphicon-link"></span></a>
          {{range .Org.IndividualLabFolders}}
            <a class="list-group-item indvlabtab" href="#result" lab="{{.}}">{{.}} <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          {{else}}
            <a class="list-group-item disabled">No individual labs</a>
          {{end}}
          {{if gt .Org.GroupAssignments 0}}
            <a class="list-group-item disabled">Group labs {{with .Group}}(group{{.ID}}){{end}}</a>
            {{if .Group}}
              {{if .Group.Active}}
                <a class="list-group-item" href="https://github.com/{{.Org.Name}}/group{{.Group.ID}}" target="_blank">Github Repository <span class="pull-right glyphicon glyphicon-link"></span></a>
              {{end}}
              <a class="list-group-item" id="groupinfotab" href="#group">Group info <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
              {{if .Group.Active}}
                {{range .Org.GroupLabFolders}}
                  <a class="list-group-item grouplabtab" href="#result" lab="{{.}}">{{.}} <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                {{end}}
              {{end}}
            {{else}}
              <a class="list-group-item" id="groupregtab" href="#group">Register group <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            {{end}}
          {{end}}
          {{if .Org.CodeReview}}
            <a class="list-group-item disabled">Code Review</a>
            <a class="list-group-item" href="https://github.com/{{.Org.Name}}/code-reviews" target="_blank">Browse on Github <span class="pull-right glyphicon glyphicon-link"></span></a>
            <a class="list-group-item reviewpubtab" href="#codereview">Publish review <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            <a class="list-group-item" id="reviewlisttab" href="#codereview">List reviews <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          {{end}}
        </div>
      </div>
      <!-- Content -->
      <div class="col-md-9">
        <div class="result-content" id="resultview" style="display: none">
          <section id="result">
          <div class="row">
            <div class="col-lg-12">
              <h1>Lab progress</h1>
              <p class="lead">Your progress on <strong><span id="lab-headline"></span></strong></p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  0%
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <p><strong id="status">Status: Unknown</strong></p>
            </div>
            <div class="col-lg-6">
              <p><strong id="pushtime">Code delivered: Unknown</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table id="testresultlist" class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Test name</th>
                    <th>Score</th>
                    <th>Weight</th>
                  </tr>
                </thead>
                <tbody>
                          
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td>Total score:</td>
                    <td class="totalscore">0%</td>
                    <td>100%</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Build logs --> 
          <div class="row">
            <div class="col-lg-8">
              <h2>Latest build</h2>
              <p id="passes">Number of passed tests: ?</p>
              <p id="fails">Number of failed tests: ?</p>
              <p id="timedate">Build time: No build yet</p>
            </div>
            <div class="col-lg-4 hidden-print">
              <h2>Actions</h2>
              <div class="row">
                <div class="col-lg-12">
                  <p>
                    <button type="button" id="rebuild" class="btn btn-primary">Rebuild</button>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="alert alert-success" role="alert" style="display: none"></div>
            <div class="well">            
              <code id="logs">
                
              </code>
          </div>
        </div>
        </section>

        <section id="group">
          {{with .Group}}
            <div class="result-content" id="groupsummaryview" style="display: none">
              {{if .Active}}
                <h1>Group Active</h1>
                <p>You are a member of group {{.ID}}.</p>
              {{else}}
                <h1>Group pending</h1>
                <p>You are a member of group {{.ID}}. The teacher or a teaching assistant need to approve your group. </p>
              {{end}}
              <p>Group members:</p>
              <ol>
                {{range $index, $element := .Members}}
                  <li>{{$index}}</li>
                {{end}}
              </ol>
            </div>
          {{else}}

            <div class="result-content" id="groupsignupview" style="display: none">
              <h1>Group registation</h1>
              <p></p>
              <div class="row">
                <div class="col-lg-4 col-lg-offset-1 text-center">
                  <p>If you do not have any preferences of who you are on group select this option. </p>
                  <button type="button" class="btn btn-primary" id="random">Random group</button>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                  <p>Select the members of your group below and submit them. </p>
                  <button type="button" class="btn btn-primary" id="groupsubmit">Submit new group</button>
                </div>
              </div>

              <form action="/course/newgroup" method="post" accept-charset="utf-8" id="groupselection">
                <input type="hidden" name="course" value="{{.Org.Name}}">
                <table id="memberlist" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Selection</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{range $index, $element := .Org.Members}}
                      <tr id="{{$index}}">
                        <td><input type="checkbox" name="member" value="{{$index}}"></td>
                        <td>{{$index}}</td>
                      </tr>
                    {{end}}
                  </tbody>
                </table>
              </form>
            </div>
          {{end}}
        </section>

        {{if .Org.CodeReview}}
          <section id="codereview">
            <div class="result-content" id="publishreviewview" style="display: none">
              <h1>Publish Code Review</h1>
              <p class="lead">
                Complete the form, including the code that you want to have reviewed. <br>
                All fields required.
              </p>
              <div class="alert alert-success" role="alert" style="display: none">Howdy there! I should be hiding now!</div>
              <form action="/review/publish" method="post" accept-charset="utf-8" class="form-horizontal" id="publishreviewform">
                <input type="hidden" name="course" value="{{.Org.Name}}">
                <!-- CR Title -->
                <div class="form-group">
                  <label for="cr-title" class="col-sm-2 control-label">Title *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="cr-title" placeholder="Title" name="title">
                  </div>
                </div>
                <!-- CR File extention -->
                <div class="form-group">
                  <label for="cr-fileext" class="col-sm-2 control-label">File type *</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="cr-fileext" placeholder="go, java or similar" name="fileext">
                  </div>
                </div>
                <!-- CR Description -->
                <div class="form-group">
                  <label for="cr-desc" class="col-sm-2 control-label">Description *</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="cr-desc" placeholder="Description" name="desc"></textarea>
                  </div>
                </div>
                <!-- CR Code -->
                <div class="form-group">
                  <label for="cr-code" class="col-sm-2 control-label">Your code *</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="18" id="cr-code" placeholder="Write some code!" name="code"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Publish</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="result-content" id="listreviewsview" style="display: none">
              <h1>Available Code Reviews</h1>
              <p class="lead">Click on one of the reviews to open it on GitHub.</p>
              <table id="reviewlisttable" class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4">Thats all the code reviews. <a class="reviewpubtab" href="#codereview">Now go and make our own Code Review!</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        {{end}}
      </div>

    </div>
  </div>

  <script type="text/javascript">
    var course = "{{.Org.Name}}";
    var username = "{{.Member.Username}}";
    var labnum = {{.Labnum}};

    {{if .Group}}
      var groupname = "group{{.Group.ID}}";
      $(function(){
        $('a.grouplabtab').click(function (e) {
          var lab = $(this).attr('lab');
          loadLabResult(groupname, lab);
          $('div.result-content').hide();
          $('div#resultview').show();

          curuser = groupname;
          curlab = lab;

          // nav active marking
          $('a.list-group-item').removeClass("active");
          $(this).addClass("active");
          $("div.alert").hide();
        });
      });
    {{end}}
  </script>
  <script src="/js/user.page.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/codereview.js" type="text/javascript" charset="utf-8"></script>
{{end}}