{{define "PageTitle"}} UIS Autograder {{end}}
{{define "Headline"}}Create a new course{{end}}
{{define "Subtext"}}Step 3: Course details{{end}}
{{define "body"}}

    <div id="newcoursepart3" class="container">
			<div class="row">
        <div class="col-md-12">
          <p>Fill out requirered information about the course and we will create it for you. </p>
          <p>Fields marked with * is required.</p>

          <!-- input form -->
          <form class="form-horizontal" role="form" action="/course/create" method="POST">
            <div class="form-group">
              <label for="org" class="col-sm-3 control-label">Organization *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="org" placeholder="Organization" value="{{.Org}}" disabled>
                <input type="hidden" id="hiddenorg" name="org" value="{{.Org}}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="private" name="private"> Private repositories
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="indv" class="col-sm-3 control-label">Number of individual assignments *</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="indv" name="indv" placeholder="Individual Assignments">
              </div>
            </div>
            <div class="form-group">
              <label for="groups" class="col-sm-3 control-label">Number of group assignments *</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="groups" name="groups" placeholder="Group Assignments">
              </div>
            </div>
            <div class="form-group">
              <label for="template" class="col-sm-3 control-label">Select template for repositories</label>
              <div class="col-sm-9">
                <select class="form-control" name="template">
                <option value="">Empty template</option>
                {{range .Orgs}}
                  <option value="{{.}}">{{.}}</option>
                {{end}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="desc" class="col-sm-3 control-label">Course description</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="3" name="desc" id="desc"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Create course</button>
              </div>
            </div>
          </form>
        </div>
      </div>
		</div>

{{end}}