{{define "PageTitle"}} UIS Autograder {{end}}
{{define "Headline"}}Create a new course{{end}}
{{define "Subtext"}}Step 2: Link Autograder to GitHub organization{{end}}
{{define "body"}}

      <div id="newcoursepart2" class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Select the organisation you want to use with the course:</p>
            <table class="table table-hover">
            {{range .Orgs}}
              <tr>
                <td>{{.}}</td>
                <td><button type="button" class="pull-right btn btn btn-default"><a href="/course/new/org/{{.}}">Select organisation</a></button></td>
              </tr>
            {{end}}
            </table>
          </div>
        </div>
      </div>
{{end}}