{{define "title"}} UIS Autograder {{end}}
{{define "body"}}

      <div id="newcoursepart1" class="container">
        <div class="row">
          <div class="col-md-9">
            <h1>Create a new course</h1>
            <p>Before registering a new course in the autograder tool, you have to do one simple step on Github. Make a new organisation on their page.</p>
            <div class="alert alert-success" role="alert">
              <p><strong>Tip:</strong> Naming it after our template is often usefull. The name often follows the pattern <strong>uis-'couse code'-'semester time'.</strong></p>
              <p>Example: <code>uis-dat320-fall2014</code></p>
            </div>
            <div class="row">
              <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn btn-default"><a href="https://github.com/organizations/new" target="_blank">Create Organisation</a></button>
              </div>
            </div>
            <h3>Get it for free</h3>
            <p>Private Github organisations and repositories is free for academic purpuses. However this has to be requested.</p>
            <p>After creating a organisation on Github you can go to page linked below and fill out their form there.</p>
            <div class="row">
              <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn btn-default"><a href="https://education.github.com/" target="_blank">Github Education pages</a></button>
              </div>
            </div>
            <p>When all of this is done you can proceed to pick the organisation.</p>
            <nav>
              <ul class="pager">
                <li class="next"><a href="/course/new/org">Select organisation &rarr;</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
{{end}}