{{define "title"}}UIS Autograder{{end}}
{{define "body"}}
  {{with .Member}}
    <div class="container">
			<div class="row">
        <div class="col-md-12">
          <h1>Hi, {{.Username}}!</h1>
          <p>Please tell us about yourself. There is some informasjon that we need to know to get you rolling in our system. Some information have been collected already, but not all. We will need some additional information.</p>
          <p>Fields marked with * is required.</p>

          <!-- input form -->
          <form class="form-horizontal" role="form" action="/updatemember" method="POST">
            <div class="form-group">
              <label for="username" class="col-sm-3 control-label">Github username *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="username" placeholder="Username" value="{{.Username}}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Full name *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" value="{{.Name}}">
              </div>
            </div>
            <div class="form-group">
              <label for="studentid" class="col-sm-3 control-label">Student ID *</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="studentid" name="studentid" placeholder="Student ID" value="{{if .StudentID}}{{.StudentID}}{{end}}">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-3 control-label">E-mail address *</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="email" name="email" placeholder="you@domain.com" value="{{if .Email}}{{.Email.Address}}{{end}}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
		</div>
  {{end}}
{{end}}