{{define "template"}}
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{template "title" .}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="/css/feedback.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <style type="text/css">
      /* Bootstrap design fixes */
      .navbar{
        margin-bottom: 0;
        border-radius: 0;
      }

      .btn-group {
        display: flex;
      }

      .table-responsive {
        overflow-y: visible !important;
      }

      @media screen and (min-width: 992px){
        .rwd-break { display: none; }
      }
      .glyph-icon-lg {
        padding: 10px;
        display: block;
        font-family:"Flaticon";
        font-size: 64px;
        line-height: 1;
      }
      .glyph-icon-lg:before {
        font-size: 64px;
        margin-left: 0;
      }
      .Bronce {
        color: #cd7f32;
      }
      .Silver {
        color: #c0c0c0;
      }
      .Gold{
        color: #ffd700;
      }
      .Platinum{
        color: #e5e4e2;
      }
      .Onyx{
        color: #0f0f0f;
      }
    </style>
	</head>
	<body>
  {{if.Member}}
    {{with .Member}}
		  <div class="navbar navbar-absolute-top navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">UIS Autograder</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/home">Home</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><p class="navbar-text">Select a course:</p></li>
                      {{range $index, $element := .Courses}}
                      <li><a href="/course/{{$index}}">{{$index}}</a></li>
                      {{end}}
                      <li class="divider"></li>
                      <li><a href="/course/register">Join a course</a></li>
                    </ul>
                  </li>
                  {{if or .IsTeacher .IsAssistant}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teacher panel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><p class="navbar-text">Select a course:</p></li>
                      {{range $index, $element := .Teaching}}
                      <li><a href="/course/teacher/{{$index}}">{{$index}}</a></li>
                      {{end}}
                      {{range $index, $element := .AssistantCourses}}
                      <li><a href="/course/teacher/{{$index}}">{{$index}}</a></li>
                      {{end}}
                      {{if .IsTeacher}}
                      <li class="divider"></li>
                      <li><a href="/course/new">New course</a></li>
                      {{end}}
                    </ul>
                  </li>
                  {{end}}
                  {{if .IsAdmin}}
                  <li><a href="/admin">Admin panel</a></li>
                  {{end}}
                  <li><a href="/help">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{.Name}}</a></li>
                  <li><a href="/logout">Sign out</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
      </div><!-- /.navbar -->
    {{end}}
    {{else}}
      <div class="navbar navbar-inverse navbar-absolute-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">UIS Autograder</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/help/">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/login" class="navbar-brand" style="top: -5px"><img src="/img/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png"> Sign in with Github</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
      </div><!-- /.navbar -->
    {{end}}
    {{template "body" .}}

    <!-- FOOTER -->
    <footer>
      <div class="container">
        <hr>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Heine Furubotten and University of Stavanger &middot; <a href="/help/privacy">Privacy</a> &middot; <a href="/help/terms">Terms</a></p>
        <p>Glyphs by <a href="http://glyphicons.com/">glyphicons.com</a><br>
        Font generated by <a href="http://www.flaticon.com">flaticon.com</a> under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY</a>. The authors are: <a href="http://www.freepik.com">Freepik</a>, <a href="http://www.alessioatzeni.com">Alessio Atzeni</a>.</p>
      </div>
    </footer>

    <div id="feedback">
      <a href="http://goo.gl/forms/fyK0f773XC" target="_blank">feedback</a>
    </div>
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58656103-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
{{end}}