@media(min-width: 1024px){
  #feedback { 
    height: 32px; 
    width: 104px; 
    position: fixed; 
    top: 40%; 
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: 30% 100%; 
    -ms-transform-origin: 30% 100%;
    transform-origin: 30% 100%;
  }

  #feedback a { 
    display: block; 
    background: #f00; 
    height: 32px; 
    width: 104px; 
    padding: 8px 16px;
    color: #fff; 
    font-family: Arial, sans-serif; 
    font-size: 17px; 
    font-weight: bold; 
    text-decoration: none; 
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #fff;
  }

  #feedback a:hover { 
    background: #06c; 
  }
}

@media(max-width: 1023px){
  #feedback {
    display: none;
  }
}